.search-items{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-style: bold;
  font-style: italic;
  color: rgba(37, 32, 59, 0.801);
  font-size: 50px;
}

.dados-container{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  margin: 3%;
  flex-wrap: wrap;
}

.container {
  width: 100%;
  height: fit-content;
  min-height: 80vh;
}

.image {
  background-image: url("../../assets/images/CasacoVermelho.png");
  background-position: center;
  background-size: cover;
  width: 20em;
  height: 20em;
  margin: 3%;
}
