<div class="search-items">
  <a href="./index.html">Your Looks</a>
  <a href="./index.html">Men</a>
  <a href="./index.html">Woman</a>
  <a href="./index.html">Kids</a>
  <a href="./index.html">Sales</a>
  <a href="./index.html">Brands</a>
</div>

<div class="slideshow-container">
  <div class="mySlides fade">
    <div class="numbertext">1 / 2</div>
    <img src="../../assets/images/Jordan.png">
    <div class="text"><strong>Air Jordan Dior</strong></div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 2</div>
    <img src="../../assets/images/CasacoVerde.png">
    <div class="text"><strong>Lacoste Jacket</strong></div>
  </div>

  <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
  <a class="next" (click)="plusSlides(1)">&#10095;</a>
</div>
<br>

<div style="text-align:center">
  <span class="dot" (click)="currentSlide(1)"></span>
  <span class="dot" (click)="currentSlide(2)"></span>
</div>
