<nav>
  <a routerLink="/">
    <img src="../../assets/images/logo.png" class="logo">
  </a>
  <div class="nav-icons">
      <img routerLink="/favoritos" src="../../assets/images/whish.png">
      <img routerLink="/carrinho" src="../../assets/images/bag.png">
      <img routerLink="/perfil" src="../../assets/images/conta.png">
      <img src="../../assets/images/europe.png">
      <img routerLink="/criarconta" src="../../assets/images/criar-conta.png">
  </div>
  <input type="text" name="search" placeholder="Search..">
</nav>
