<div class="container">
  <div class="row">
    <div class="col-75">
      <form #checkoutDetail="ngForm" (ngSubmit)="onSubmit(checkoutDetail)">
        <div class="row">
          <div class="col-50">
            <h3>Billing Address</h3>
            <label for="fname"><i class="fa fa-user"></i> Nome Completo</label>
            <input type="text" name="nome" class="input-form" placeholder="João Carvalho Araújo" ngModel required>
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" name="email" class="input-form" placeholder="joaoc@example.com" ngModel required>
            <label for="adr"><i class="fa fa-address-card-o"></i> Rua</label>
            <input type="text" name="rua" class="input-form" placeholder="111 W. 11th Street" ngModel required>
            <label for="city"><i class="fa fa-institution"></i> Cidade</label>
            <input type="text" name="cidade" class="input-form" placeholder="Barcelos" ngModel required>

            <div class="row">
              <div class="col-50">
                <label for="state">Distrito</label>
                <input type="text" name="distrito" class="input-form" placeholder="Braga" ngModel required>
              </div>
              <div class="col-50">
                <label for="PostalCode">Código Postal</label>
                <input type="text" name="codPostal" placeholder="Código Postal" class="input-form"
                  placeholder="1111-111" ngModel required>
              </div>
            </div>
          </div>

          <div class="col-50">
            <h3>Payment</h3>
            <label for="fname">Accepted Cards</label>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-amex" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
              <i class="fa fa-cc-discover" style="color:orange;"></i>
            </div>
            <label for="cname">Nome Cartão</label>
            <input type="text" name="nomeCartao" class="input-form" placeholder="João Carvalho Araújo" ngModel required>
            <label for="ccnum">Número Cartão Crédito</label>
            <input type="text" name="cartaoCredito" class="input-form" placeholder="1111-2222-3333-4444" ngModel required>
            <label for="expmonth">Exp Mês</label>
            <input type="text" name="mesValidade" class="input-form" placeholder="Setembro" ngModel required>
            <div class="row">
              <div class="col-50">
                <label for="expyear">Exp Ano</label>
                <input type="text" name="anoValidade" class="input-form" placeholder="2022" ngModel required>
              </div>
              <div class="col-50">
                <label for="cvv">CVV</label>
                <input type="text" name="cvv" class="input-form" placeholder="777" ngModel required>
              </div>
            </div>
          </div>
        </div>

        <label>
          <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
        </label>
        <input type="submit" value="Continue to Checkout" *ngIf="modeUpdate === false" class="btn">
        <input value="Update last Checkout" class="btn-update"  *ngIf="modeUpdate === false" (click)="startUpdateLast(checkoutDetail)">
        <input value="Update Checkout" class="btn" *ngIf="modeUpdate" (click)="updateLast(checkoutDetail)">
        <input value="Cancel Update Checkout" class="btn-update" *ngIf="modeUpdate" (click)="cancelUpdate(checkoutDetail)">
        <input value="Delete Last Checkout" class="btn-delete" *ngIf="!modeUpdate" (click)="deleteLastCheckout()">
      </form>
    </div>

    <div class="col-25">
      <div class="container cart-container">
        <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i><b>1</b></span></h4>
        <p>
          <a routerLink="/cart">THE NORTH FACE</a> <span class="price">609€</span>
        </p>
        <hr>
        <br>
        <p>Total <span class="price" style="color:black"><b>609€</b></span></p>
      </div>
    </div>
  </div>
</div>
<div class="warning" *ngIf="!closeModal">
  <div class="modal-warning">
    No checkout to update/delete!!!
    <button class="exit-modal" (click)="closeWarning()">OK</button>
  </div>
</div>
